#carousel {
    display: flex;
    justify-content: center;
    padding: 5%;
}

#carouselExampleIndicators {
    width: 75%;
    border-radius: 20px;
}

.carousel-item img {
    border-radius: 20px;
    border: 1px solid grey;
}

marquee {
    font-family: poppins;
    margin: 2% 2%;
}